.nombrecompleto{
    margin: 10px;
    border: solid;
    width: 300px;
}
.nombre{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.datos{
    margin: 10px;
    border: solid;
    width: 300px;
}
label{
    margin: 10px;
}
input{
    margin: 10px;
}
select{
    margin: 10px;
}